.row
  - 10.times.each do
    - @questions.each do |question|
      .col.s12.m6
        .card-panel.question-panel
          .row
            .col.s4
              = image_tag(question.user.image.url(:small), class: "responsive-img activator")
            .col.s8
              .question-body
                = question.body
              .right.profile= time_ago_in_words(question.created_at)
          .row
            = link_to 'View', question, class: 'mdi-image-remove-red-eye btn'
            -if verified_doctor?
              = link_to 'Answer', new_answer_path(answer: {question_id: question.id}), class: 'waves-effect waves-light btn'
            - unless question.users.include?(current_user)
              .right= link_to 'Follow', follows_path(:follow => {question_id: question.id}), method: :post, class: 'mdi-maps-directions-walk'