.form-wrapper
  .row.form-body
    = form_for(@question) do |f|
      - if @question.errors.any?
        #error_explanation
          %h2
            = pluralize(@question.errors.count, "error")
            prohibited this question from being saved:
          %ul
            - @question.errors.full_messages.each do |message|
              %li= message
      .row
        .input-field.col.s12
          = f.text_area :body, class: "validate materialize-textarea"
          %label{:for => "question_body"} Ask a brief question
      .row
        .input-field.col.s12
          = f.text_field :all_tags, class: "validate"
          %label{:for => "question_all_tags"} Tags separated with commas, e.g eyes, pregnancy...
      .actions
        = f.submit "Ask the Doc", class: "btn"
