.container-fluid
  .form-wrapper
    = form_for(@question) do |f|
      - if @question.errors.any?
        #error_explanation
          %h2
            = pluralize(@question.errors.count, "error")
            prohibited this question from being saved:
          %ul
            - @question.errors.full_messages.each do |message|
              %li= message
      .field.form-group
        = hidden_field(:question, :user_id, value: current_user.id)
      .field.form-group
        = f.label :caption
        %br/
        = f.text_field :caption, class: "form-control"
      .field.form-group
        = f.label :body
        %br/
        = f.text_area :body, class: "form-control"
      .field.form-group
        = f.label :doctor_id
        %br/
        = f.collection_select :user_id, User.where(role: "doctor").order(:id), :id, :name,
          {}, :include_blank => false, class: "form-control"
      .actions
        = f.submit "Ask the Doc", class: "btn btn-md button-hollow-c"

-#        todo move the doctor select to a separate page to list doctors, showing their profiles, and complete with search
