.row
  - @my_questions.each do |question|
    .col.s12.m6
      .card-panel.question-panel
        .row
          .col.s4
            = image_tag(question.user.image.url(:small), class: "responsive-img activator")
          .col.s8
            .question-body
              = question.body
            .right.profile= time_ago_in_words(question.created_at)
        .row
          = link_to 'View', question, class: 'mdi-image-remove-red-eye btn'
          .btn.disabled
            .mdi-action-announcement= question.answers.count
            .mdi-maps-directions-walk= question.follows.count