%ul
  - @my_questions.each do |question|
    %li
      %br/
      = link_to (question), class: "list-group-item" do
        %blockquote
          %p.lead= question.body
          %p=raw question.all_tags
          %footer
            %strong= question.user.name
    %br/
    %i.fa.fa-comments.likes
      = question.answers.count
      Answers
    %i.fa.fa-user-plus.text-success
      = question.follows.count
      Follower(s)