%h4.center-align Questions
= render 'header'

.tab-content
  #all.col.s12
    = render 'all'
  #following.col.s12
    = render 'followed'
  #interests.col.s12
    = render 'interest'
  - if client?
    #mine.col.s12
      = render 'mine'