= render 'search'
= render 'header'

.tab-content
  #all.tab-pane.active.fade.in
    = render 'all'
  #following.tab-pane.fade
    = render 'followed'
  #interests.tab-pane.fade
    = render 'interest'
  #mine.tab-pane.fade
    = render 'mine'