%section.views
  -#%h1.page-header Listing Questions
  %ul
    - @questions.each do |question|
      %li
        %br/
        = link_to (question), class: "list-group-item" do
          %strong= question.caption
          %blockquote
            %p.lead= question.body
            %footer
              %strong= question.user.name
      %br/
      %i.fa.fa-comments.likes
        = question.answers.count
        Answers
      %button.pull-right.fa.fa-comments.btn.btn-success
        Follow