= render partial: 'questions/header'

.tab-content
  #all.tab-pane.active.fade.in
    = render 'all'
  #following.tab-pane.active.fade.in
    = render 'followed'
  #interests.tab-pane.active.fade.in
    = render 'interest'
  #mine.tab-pane.active.fade.in
    = render 'mine'