.form-wrapper
  .form-head
    %h5.center-align
      Question, asked by
      = @question.user.name
      = time_ago_in_words(@question.created_at)
      ago
  .form-body
    %p= @question.body
    %p
      Tags:
      = raw tag_links(@question.all_tags)

    - if @question.user == current_user
      = link_to "Edit", edit_question_path(@question), class: "btn mdi-editor-mode-edit"
    - if @question.answers.count > 0
      = link_to "Answers", answers_path(question: @question), class: 'btn mdi-action-announcement'
    -if verified_doctor?
      = link_to 'contribute', "#answer-modal", class: 'waves-effect waves-light btn modal-trigger'

    .modal#answer-modal
      .modal-content
        %i.right.mdi-navigation-close.modal-close
        = render 'answer_form'


= link_to 'Back to Questions', questions_path, class: 'btn mdi-navigation-chevron-left'
