%h1.page-header Answers from Verified Doctors
%h3.fa.fa-2x.fa-question-circle
  Question
%br/
%blockquote
  %p= @question.body
  %p=raw tag_links(@question.all_tags)
  %footer
    %strong
      = image_tag(@question.user.image.url(:thumb), class: 'user')
      = @question.user.name
    %strong.pull-right.fa.fa-clock-o.likes
      = @question.created_at.strftime("%d %b %y")
%br/
- if @question.user == current_user
  = link_to edit_question_path(@question) do
    %button.button-hollow-b.fa.fa-pencil-square-o
      Edit Question
= link_to questions_path do
  %button.button-hollow-b.fa.fa-arrow-circle-left
    Back to Questions
- unless @answers.empty?
  %h4 Answers
  - @answers.each do |answer|
    .list-group-item
      = answer.content
      = answer.user.try(:name)
      - if client? && !answer.answer_likes.map(&:user).include?(current_user)
        = form_for AnswerLike.new do
          = hidden_field(:answer_like, :answer_id, value: "#{answer.id}")
          %div
            = button_tag type: "submit", class: "button-hollow-b" do
              %i.fa.fa-heart.likes
                #{answer.answer_likes.count}
          %br/
  %br/
-if doctor?
  .jumbotron
    %h4.section-header Doctor? Your Answer;
    = render 'answers/form'
