<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @question.caption %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>


<h4 class="page-header">Answers</h4>

<% @answers.each do |answer| %>
    <%= answer.content %><br>
    <%= render 'answer_likes/new' %>
<% end %>

<h4>Are you a Doctor?</h4>
<h3>Answer this Question</h3>

<%= render 'answers/form' %>

