- if @managers.count > 0
  .row
    - @managers.each do |manager|
      .col.s9.m5.l4
        .card.medium
          .card-image.waves-effect.waves-block.waves-light
            = image_tag manager.image.url(:small), class: 'responsive-img activator'
            -unless manager.image.url
              = image_tag('avatar.png', width: "200", class: "responsive-img")
            %span.card-title
              = manager.name
              |
              = seen_last(manager.current_sign_in_at) if manager.current_sign_in_at
          .card-content
            %span.card-title.activator.grey-text.text-darken-4
              .truncate
                %i.right.mdi-navigation-more-vert
                = manager.bio
            .card-action
              = link_to 'View', profile_path(manager), class: 'mdi-image-remove-red-eye'
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              = manager.name
              %i.right.mdi-navigation-close
            %p= manager.bio
