- if doctor? || hospital_manager? || admin?
  %h2.profile-head Clients
  %ul.everyone
    - @clients.each do |client|
      %li
        = link_to profile_path(client), class: "list-group-item" do
          = image_tag client.image, class: 'img-circle', width: 100
          %blockquote
            %strong= client.name
            %footer
              = client.occupation

%h2.profile-head Doctors
%ul.everyone
  - @doctors.each do |doctor|
    %li
      = link_to profile_path(doctor), class: "list-group-item" do
        = image_tag doctor.image, class: 'img-circle', width: 100
        %blockquote
          %strong= doctor.name
          %p.lead= doctor.bio
          %footer
            %strong= doctor.hospital


- if hospital_manager? || admin?
  %h2.profile-head Hospital Managers
  %ul.everyone
    - @managers.each do |manager|
      %li
        = link_to profile_path(manager), class: "list-group-item" do
          = image_tag manager.image, class: 'img-circle', width: 100
          %blockquote
            %strong= manager.name
            %p.lead= manager.bio
            %footer
              %p= manager.last_sign_in_at
