%h1 Listing profiles

%ul
  - @questions.each do |question|
    %li
      %br/
      = link_to (question), class: "list-group-item" do
        %strong= question.caption
        %blockquote
          %p.lead= question.body
          %footer
            %strong= question.user.name
    %br/
    %i.fa.fa-comments.likes
      = question.answers.count
      Answers
    %i.fa.fa-user-plus.text-success
      = question.follows.count
      Follower(s)
    - unless question.users.include?(current_user)
      .pull-right
        = form_for Follow.new do |f|
          = hidden_field(:follow, :question_id, value: "#{question.id}")
          %div
            = button_tag type: "submit", class: "btn btn-success" do
              %i.fa.fa-comments
                Follow

%table
  %thead
    %tr
      %th User
      %th Date of birth
      %th Gender
      %th Address
      %th Phone number
      %th Ethnicity
      %th Occupation
      %th Religion
      %th Marital status
      %th Weight
      %th Height
      %th
      %th
      %th

  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.user
        %td= profile.date_of_birth
        %td= profile.gender
        %td= profile.address
        %td= profile.phone_number
        %td= profile.ethnicity
        %td= profile.occupation
        %td= profile.religion
        %td= profile.marital_status
        %td= profile.weight
        %td= profile.height
        %td= link_to 'Show', profile
        %td= link_to 'Edit', edit_profile_path(profile)
        %td= link_to 'Destroy', profile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User profile', new_profile_path
