.profile-show
  .text-center= image_tag @profile.image, class: 'img-circle', width: 200

  .text-center
    %h5.page-header
      Hi, I'm
      %strong= @profile.name

    %p.text-left
      %b= @profile.occupation
    %br

    %p= @profile.bio

  %h3
    %strong PROFILE

  %p.page-header
    %b Born
  =time_ago_in_words(@profile.date_of_birth)
  ago
  %p.page-header
    %b Gender
  = @profile.gender

  %p.page-header
    %b Marital status
  = @profile.marital_status

  %p.page-header
    %b Weight
  = @profile.weight
  .btn.btn-default
    Kg

  %p.page-header
    %b Height
  = @profile.height
  .btn.btn-default
    Kg

  - if @profile.role == "doctor"

    %p.page-header
      %b Specialization
    = @profile.specialization

    %p.page-header
      %b Has been a Doctor for
    - if @profile.year_of_grad
      = (Date.today.year - @profile.year_of_grad.to_i)
      years

    - if @profile.verified?
      %p.page-header
        %b Hospital Affiliated With
      = link_to @profile.hospital.try(:name), hospital_path(@profile.hospital)

      %p.page-header
        %b Has Answered
      = @profile.answers.try(:count)
      questions

      %p.page-header
        %b Answers Have Been Liked
      = @profile.answers.map(&:answer_likes).count
      times
  %br
  %br
  %button.btn.button-hollow-b
    = link_to "<i class=\"fa fa-chevron-left\"></i>  Back".html_safe, profiles_path
