.form-wrapper.profile
  .form-head.row
    = image_tag @profile.image.url(:small), class: 'responsive-img'
    -unless @profile.image.url
      = image_tag('avatar.png', width: "200", class: "responsive-img")
  .row.form-body
    %p Name:
    %h4= @profile.name

    %p Occupation:
    %h4= @profile.occupation

    %p Bio:
    %h4= @profile.bio

    %p Age:
    %h4= "#{time_ago_in_words(@profile.date_of_birth)} Old"

    %p Gender:
    %h4= @profile.gender

    %p Marital status:
    %h4= @profile.marital_status

    %p Weight:
    %h4= "#{@profile.weight} kg"

    %p Height:
    %h4= "#{@profile.height} m"

    - if @profile.role == "doctor"

      %p Specialization:
      %h4= @profile.specialization

      - if @profile.year_of_grad
        %p Been a Doctor for:
        %h4= "#{(Date.today.year - @profile.year_of_grad.to_i)} years"

      - if @profile.verified?
        %p Hospital Affiliated With:
        %h5= link_to @profile.hospital.name, hospital_path(@profile.hospital)

        %p Numbers of Questions answered:
        %h4= "#{@profile.answers.try(:count)} questions"

        %p Numbers of Questions Likes:
        %h4= "#{@profile.answers.map(&:answer_likes).count} Likes"
