.form-wrapper
  .row.form-body
    = form_for @hospital_verification_request do |f|
      - if @hospital_verification_request.errors.any?
        #error_explanation
          %h2= "#{pluralize(@hospital_verification_request.errors.count, "error")} prohibited this hospital_verification_request from being saved:"
          %ul
            - @hospital_verification_request.errors.full_messages.each do |msg|
              %li= msg

      .row
        .input-field.col.s12
          = f.collection_select :hospital_id, current_user.hospitals.where(verified: false).order(:name), :id, :name, {}, include_blank: true, class: "form-control"
          = f.label :hospital
      .row
        .input-field.col.s12
          %i.mdi-communication-email.prefix
          = f.text_area :message, class: "form-control"
          = f.label :message
      .actions.center-align
        = button_tag type: "submit", class: "waves-effect waves-light btn" do
          %i.mdi-content-send
            Submit