.form-wrapper
  = form_for @hospital_verification_request do |f|
    - if @hospital_verification_request.errors.any?
      #error_explanation
        %h2= "#{pluralize(@hospital_verification_request.errors.count, "error")} prohibited this hospital_verification_request from being saved:"
        %ul
          - @hospital_verification_request.errors.full_messages.each do |msg|
            %li= msg

    .field.form-group
      = f.label :hospital
      = f.collection_select :hospital_id, current_user.hospitals.order(:name), :id, :name, {}, include_blank: true, class: "form-control"
    .field.form-group
      = f.label :message
      = f.text_area :message, class: "form-control"
    .actions
      = button_tag type: "submit", class: "button-hollow-b" do
        %i.fa.fa-user-plus
          Submit
