%h5.text-center Doctors List
- @doctor_lists.each do |doctor|
  -if hospital_manager? && doctor.hospital.manager == current_user
    %li.panel.panel-default
      .panel-heading
        %br/
        .btn-group
          .btn-group-justified
            = link_to image_tag(doctor.user.image, class: "img-thumbnail user"), profile_path(doctor.user)
            %strong= link_to doctor.user.name, profile_path(doctor.user)
            |
            %i= time_ago_in_words(doctor.user.current_sign_in_at)
            |
            %button.button-hollow-c
              = link_to doctor, :method => :delete, :data => { :confirm => "Are you sure you no longer want this Doctor associated with #{doctor.hospital.name} hospital?" } do
                %i.text-danger.fa.fa-user-times
                UnVerify