%h5.text-center Doctors List
- @doctor_lists.each do |doctor|
  %li
    %br/
    %blockquote
      %p.profile-image= image_tag(doctor.user.image)
      %strong= doctor.user.name
      %p.lead= doctor.user.bio
      %footer
        %strong= doctor.user.gender
        %p= doctor.user.last_sign_in_at
        %button.button-hollow-c
          = link_to doctor, :method => :delete, :data => { :confirm => "Are you sure you no longer want this Doctor associated with #{doctor.hospital.name} hospital?" } do
            %i.text-danger.fa.fa-user-times
            UnVerify