%h5.text-center Doctors List
- @doctor_lists.each do |doctor|
  %li
    %br/
    %p.profile-image = image_tag(doctor.image)
    %strong= doctor.name
    %blockquote
      %p.lead= doctor.bio
      %footer
        %strong= doctor.gender
        %p= doctor.last_sign_in_at
        %p= link_to '<i class=\"fa fa-user-times\"></i> UnVerify'.html_safe, doctor, :method => :delete, :data => { :confirm => "Are you sure you no longer want this Doctor associated with #{doctor.hospital.name} hospital?" }