= render 'search'
%h4.center-align Listing Articles


.row
  - @articles.each do |article|
    .col.s12.m6
      .card-panel.question-panel
        .row
          .col.s4
            %h6= raw article.title
            = image_tag(article.writer.image.url(:small), class: "responsive-img activator")
            - unless article.writer.image.url
              = image_tag('avatar.png', width: "50", class: "responsive-img")
          .col.s8
            .question-body
              = raw article.content
            .right.profile= time_ago_in_words(article.created_at)
        .row
          = link_to 'View', article, class: 'mdi-image-remove-red-eye btn'
- if verified_doctor?
  = link_to 'New Article', new_article_path, class: 'btn'

