= render partial: 'rating'
%p#notice= notice

%p
  %b User:
  = @article.user
%p
  %b Title:
  = @article.title
%p
  %b Content:
  = raw(@article.content)
%br/
%p Averate rating
#star

%p Your rating
#user_star

= link_to 'Edit', edit_article_path(@article)
|
= link_to 'Back', articles_path
