= form_for @doctor_verification_request do |f|
  - if @doctor_verification_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@doctor_verification_request.errors.count, "error")} prohibited this doctor_verification_request from being saved:"
      %ul
        - @doctor_verification_request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :hospital
    = f.collection_select :hospital_id, Hospital.order(:name), :id, :name, include_blank: true, class: "form-control"
  .field
    = f.label :message
    = f.text_area :message
  .actions
    = f.submit 'Save'
