.row.form-body
  = form_for @answer do |f|
    - if @answer.errors.any?
      #error_explanation
        %h2
          = pluralize(@answer.errors.count, "error")
          prohibited this question from being saved:
        %ul
          - @answer.errors.full_messages.each do |message|
            %li= message
    .field
      = hidden_field(:answer, :question_id, value: @answer.question_id )
    .row
      .input-field.col.s12
        = f.text_area :content, class: "validate materialize-textarea"
        %label{:for => "answer_content"} Answer
    .actions
      = button_tag type: "submit", class: "btn" do
        Post Help
