%h1 Listing user_profiles

%table
  %thead
    %tr
      %th User
      %th Date of birth
      %th Gender
      %th Address
      %th Phone number
      %th Ethnicity
      %th Occupation
      %th Religion
      %th Marital status
      %th Weight
      %th Height
      %th
      %th
      %th

  %tbody
    - @user_profiles.each do |user_profile|
      %tr
        %td= user_profile.user
        %td= user_profile.date_of_birth
        %td= user_profile.gender
        %td= user_profile.address
        %td= user_profile.phone_number
        %td= user_profile.ethnicity
        %td= user_profile.occupation
        %td= user_profile.religion
        %td= user_profile.marital_status
        %td= user_profile.weight
        %td= user_profile.height
        %td= link_to 'Show', user_profile
        %td= link_to 'Edit', edit_user_profile_path(user_profile)
        %td= link_to 'Destroy', user_profile, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User profile', new_user_profile_path
