.row
  - @mine_hospitals.each do |hospital|
    .col.s9.m5.l4
      .card.medium
        .card-image.waves-effect.waves-block.waves-light
          = image_tag hospital.image.url(:small), class: 'responsive-img activator'
          %span.card-title
            = hospital.name
        .card-content
          %span.card-title.activator.grey-text.text-darken-4
            .truncate
              %i.right.mdi-navigation-more-vert
              = hospital.description
          .card-action
            = link_to 'View', hospital, class: 'mdi-image-remove-red-eye'
            - if hospital.manager == current_user
              = link_to 'Edit', edit_hospital_path(hospital), class: 'mdi-editor-mode-edit'
              = link_to 'Remove', hospital,class: 'mdi-action-delete', method: :delete, data: { confirm: 'Are you sure?' }
        .card-reveal
          %span.card-title.grey-text.text-darken-4
            = hospital.name
            %i.right.mdi-navigation-close
          %p= hospital.description