%section.views
  %h1.page-header All Hospitals
  %ul.hospital-list
    - @hospitals.each do |hospital|
      %li
        = link_to (hospital) do
          .list-group-item
            = image_tag hospital.image.url(:medium)
            .hospital-list-text
              %strong.name= hospital.name
              %p= hospital.description
          - if hospital.manager == current_user
            = link_to 'Edit', edit_hospital_path(hospital), class: "btn btn-default"
            = link_to 'Destroy', hospital, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' }
  - if hospital_manager?
    = link_to 'Add New Hospital', new_hospital_path, class: "btn btn-default"
