%h1.page-header Hospitals

%ul.nav.nav-tabs{role: "tablist"}
  %li.active
    = link_to(('<icon class="fa fa-globe"></icon> All').html_safe, "#all", {role: "tab", "data-toggle" => "tab"})

  - if hospital_manager?
    %li
      = link_to(('<icon class="fa fa-filter"></icon> Mine').html_safe, "#mine", {role: "tab", "data-toggle" => "tab"})

.tab-content
  #all.tab-pane.active.fade.in
    = render 'all'
  #mine.tab-pane.fade
    = render 'mine'

- if hospital_manager?
  .profile-head
    = link_to 'Add New Hospital', new_hospital_path, class: "btn btn-default profile-head"
