<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hospital.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @hospital.image %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @hospital.verified %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hospital.address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @hospital.classification %>
</p>

<p>
  <strong>Recommendations:</strong>
  <%= @recommend.count %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>

<%= render 'hospital_likes/new' %>
<% @reviews.each do |review| %>
    <%= review.content %><br>
<% end %>


<h4>What do you think of this hospital?</h4>
<h3>Add your own review</h3>

<%= render 'reviews/form' %>
