.text-center
  = image_tag @hospital.image, class: 'img-circle', width: 300
  %h1.page-header
    %strong= @hospital.name

  %p.text-left
    %b= @hospital.classification
    %br
  %p= @hospital.description
  %br

%h5
  %b Details
  %br

%p.page-header
  %b Address
= @hospital.address

%p.page-header
  %b Phone Number
= @hospital.phone_number

%p.page-header
  %b Recommendations:
%i.fa.fa-diamond
= @recommend.count

%p.page-header
  %b Our Doctors
= link_to "Meet Our Doctors", "hospitals/#{@hospital.id}/doctors", class: "btn button-hollow-b"
%br

-unless @recommend.map(&:user).include?(current_user)
  = render 'hospital_likes/new'
%br/
%h4 Reviews
- @reviews.each do |review|
  .list-group-item
    = review.content
    %br/
    %strong
      \-
      = review.user.name
%br/
- if can? :manage, Review
  -unless @reviews.map(&:user).include?(current_user)
    %h4 What do you think of this hospital? Add your own review;
    = render 'reviews/form'


%button.btn.button-hollow-b
  = link_to "<i class=\"fa fa-chevron-left\"></i>  Back".html_safe, hospitals_path

