<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hospital.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @hospital.image %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @hospital.verified %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hospital.address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @hospital.type %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
