.form-wrapper.profile
  .form-head.row
    = image_tag @hospital.image.url(:small), class: 'responsive-img'
    -unless @hospital.image.url
      = image_tag('avatar.png', width: "200", class: "responsive-img")
  .row.form-body
    %p Full name:
    %h4= @hospital.name
    %i= @hospital.description

    %p Classification:
    %h5= @hospital.classification

    %p Address:
    %h4= @hospital.address

    %p Phone Number:
    %h4= @hospital.phone_number

    %i.fa.fa-diamond
    = @recommend.count
    Recommendations

    .row
      -unless @recommend.map(&:user).include?(current_user)
        .col.s6= render 'hospital_likes/new'
      .col.s6.hide-on-small-and-down= link_to "Meet Our Doctors", "#{@hospital.id}/doctors", class: "btn"
    .hide-on-med-and-up= link_to "Meet Our Doctors", "#{@hospital.id}/doctors", class: "btn"
    .row
    - unless @reviews.count == 0
      %h4 Reviews
      - @reviews.each do |review|
        .list-group-item
          = review.content
          %br/
          %strong
            \-
          = review.user.name
  - if can? :manage, Review
    -unless @reviews.map(&:user).include?(current_user)
      %h4 What do you think of this hospital? Add your own review;
      = render 'reviews/form'