- if admin?
  - @admin_notifications.each do |notification|
    .card-panel
      %i.mdi-alert-error
      %b
        = link_to notification.user.name, profile_path(notification.user)
      = "Requests Verification for"
      %b= notification.hospital.name
      Hospital.
      = link_to hospital_verification_request_path(notification), :method => :delete, :data => { :confirm => 'Are you sure?' } do
        %button.btn.mdi-action-done Verify
- if has_hospital?
  - @doctor_notifications.each do |notification|
    .card-panel
      %i.mdi-alert-error
      %b
        = link_to notification.user.name, profile_path(notification.user)
      = "Wants to be associated with"
      %b= notification.hospital.name
      Hospital.
      - if notification.hospital.manager == current_user
        = link_to doctor_verification_request_path(notification), :method => :delete, :data => { :confirm => 'Are you satisfied that you know this Doctor enough and want him/her associated with your Hospital?' } do
          %button.btn.mdi-action-done Verify