- if client?
  = form_for Review.new do |f|
    .field
      = hidden_field(:review, :hospital_id, value: params["id"])
    .field.form-group
      = f.label :content
      %br/
      = f.text_area :content, class: "form-control"
    .actions
      = button_tag type: "submit", class: "button-hollow-b" do
        %i.fa.fa-check-circle
          Post Review