= form_for Review.new do |f|
  .field
    = hidden_field(:review, :hospital_id, value: params["id"])
    = hidden_field(:review, :user_id, value: current_user.id)
  .field
    = f.label :content
    %br/
    = f.text_area :content
  .actions
    = f.submit
