!!!
%html
  %head
    %title CadWings
    = stylesheet_link_tag 'application', media: 'all'#, 'data-turbolinks-track' => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Quicksand:700', media: 'all'
    = javascript_include_tag 'application'#, 'data-turbolinks-track' => true
    = javascript_include_tag "jsapi.js", "chartkick"
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
  %body
    - unless flash.empty?
      - flash.each do |f|
        - type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'success')
        = javascript_tag do
          console.log("#{type}")
          toastr["#{type}"]("#{f[1]}")

    = yield :charts_js

    - unless hide_side_bar?
      = render 'layouts/header'

    - unless hide_side_bar?
      %ul.sidebar.hide-on-med-and-down.side-nav.fixed
        = render 'layouts/sidebar'

    .content_wrapper
      = yield