!!!
%html
  %head
    %title Doctopus
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    .container-fluid
      - unless request.path == new_user_session_path || request.path == new_user_registration_path || request.path == new_user_password_path
        .sidebar_toggle#sidebar
          .sidebar
            = render 'layouts/sidebar'
      .content_wrapper
        = yield